snippet for "for loop (for)"
for (${2:i} = 0; $2 < ${1:count}; ${3:++$2})
{
   ${VISUAL}${0}
}
endsnippet

snippet tdst "struct"
typedef struct ${1:`!p snip.rv = (snip.basename or "name")`}_
{
   ${0:/* data */}
} $1;
endsnippet

snippet tde "enum"
typedef enum ${1:`!p snip.rv = (snip.basename or "name")`}_
{
   $2${3: = 0},
   $0
} $1;
endsnippet

snippet ctest "Test case"
void $1(void)
{
   /* Arrange */
   $0

   /* Act */

   /* Assert */
}
endsnippet
